.contenedor{
    display: flex;
    justify-content: center;
}

.input{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 5px;
    padding: 5px;
    margin: 2.5px;
    border-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 1.5rem;
}

.btn{
    margin: 2.5px;
    border: 2px solid #191919;
    background: #191919;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 1.5rem;
}